<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>台灣客服INTRANET</title>
  <link rel="Shortcut Icon" type="image/x-icon" href="/TCC/img/twmlogo.ico" />	
  <script type="text/javascript" src="/ebg/js/jquery.min.js"></script>
  <script type="text/javascript" src="/ccweb-ap/ebg/jquery/jquery.signalR-2.4.2.js"></script>		
  <script src="./EBG/Promotion/NewHomePage/js/tailwind.js"></script> 

  <style>
    .Navdot_act{
      width: 8px;
      height: 8px;
      display: inline-block;
      background: #ff6700;
      border-radius: 50%;
      cursor: pointer;
    }
    .Navdot{
      cursor: pointer;
      width: 8px;
      height: 8px;
      display: inline-block;
      border-radius: 50%;
      border: 1px solid #ff6700;
    }

    .articleBtn:hover a,.articleBtn:hover svg,.BulletinBoardBtn:hover a,.BulletinBoardBtn:hover svg{
      background: #ff6700;
      color: #FFF;
    }
    .header-nav:hover span{
      
      background: #2d338d;
    }


    /* animation */
    .animation-org-1{
      opacity: 0.55;
      animation-name: org-1;
      animation-duration: 30s;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
    }
    .animation-org-2{
      opacity: 0.8;
      animation-name: org-2;
      animation-duration: 12s;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
    }
    .animation-org-3{
      animation-name: org-3;
      animation-duration: 15s;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
    }
    .animation-light-org-1{
      animation-name: light-org-1;
      animation-duration: 50s;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
    }
    .animation-blue-1{
      animation-name: blue-1;
      animation-duration: 35s;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
    }
    @keyframes org-1 {
      0%{
        transform: translate(-50px,-200px) rotate(0);
      }
      50%{
        transform: translate(-50px,1000px) rotate(1080deg);
      }
      100%{
        transform: translate(-50px,-200px) rotate(2160deg);
      }
    }
    @keyframes org-2 {
      0%{
        transform: translate(-100px,1000px) rotate(0) scale(1);
      }
      33%{
        transform: translate(200px,300px) rotate(180deg) scale(1.1);
      }
      100%{
        transform: translate(200px,300px) rotate(180deg) scale(1.1);
      }
    }
    @keyframes org-3 {
      0%{
        transform: translate(0px,-50px) rotate(0) scale(1);
      }
      10%{
        transform: translate(120px,50px) rotate(-100deg) scale(1);
      }
      100%{
        transform: translate(120px,50px) rotate(-100deg) scale(1);
      }
    }
    @keyframes light-org-1 {
      0%{
        transform: translate(0px,0px) rotate(0) scale(1);
      }
      50%{
        transform: translate(-10px,200px) rotate(1440deg) scale(1);
      }
      100%{
        transform: translate(0px,0px) rotate(2880deg) scale(1);
      }
    }
    @keyframes blue-1 {
      0%{
        transform: translate(0px,-100px) rotate(0) scale(1);
      }
      30%{
        transform: translate(200px,500px) rotate(720deg) scale(1);
      }
      70%{
        transform: translate(200px,500px) rotate(720deg) scale(1);
      }
      90%{
        transform: translate(0px,-100px) rotate(1440deg) scale(1);
      }
      100%{
        transform: translate(0px,-100px) rotate(1440deg) scale(1);
      }
    }
    /* RWD */
    .index-cont{
      width: 90%;
    }
    .bgBlock{
      height: 305px;
    }
    .sectionImg{
      height: 159px;
    }

    .footerBlock{
      height: 50px;
    }
    @media (min-width: 1540px) {
      .index-cont{
        width: 90%;
      }

      .bgBlock{
        height: 385px;
      }
      .sectionImg{
        height: 192px;
      }
      .footerBlock{
      height: 0px;
    }        
      .animation-light-org-1{
        display: none;
      }

    }
  
  </style>
</head>
<body>
  <div id="app">
      <div class="header pt-2 pb-2  bg-white fixed w-full z-20" >
        <img @click="handIndexPage(null, 'index')" class="absolute top-[5px] left-8 cursor-pointer" src="./EBG/Promotion/NewHomePage/img/logo.png" alt="">
        <ul class="memu flex justify-end pt-2 mr-4">
          <li class="text-[#2d338d] font-bold px-2 relative header-nav" >
            <a href="/TCC/00_millieyu/ccweb_2007/other/sir/index_sir.htm" onclick="window.open(this.href,'','resizable=yes,location=no,menubar=no,scrollbars=yes,status=no,toolbar=no,fullscreen=no,dependent=no,width=860,height=760,left=60,top=90,status');return false" >
            認識客服與大哥大長官</a>
            <span class="absolute top-[32px] w-full inline-block h-[4px] left-0  rounded-md transition-colors duration-300"></span>
          </li>
          <li class="text-[#2d338d] font-bold  relative header-nav" >
            <a class="cursor-pointer block px-2"  @click="handIndexPage(null, '各單位組織圖')">各單位組織圖</a>
            <span class="absolute top-[32px] w-full inline-block h-[4px] left-0  rounded-md transition-colors duration-300"></span>
          </li>
          <li class="text-[#2d338d] font-bold px-2 relative header-nav" >
            <a href="/公佈欄/各處長官mail發送名單/mail發送名單.xlsx" target="_blank">
            各長官mail發送清單</a>
            <span class="absolute top-[32px] w-full inline-block h-[4px] left-0  rounded-md transition-colors duration-300"></span>
          </li>
          <li class="text-[#2d338d] font-bold px-2 relative header-nav" >
            <a href="https://tcsms.tcs.com.tw/owa" target="_blank">員工信箱</a>
            <span class="absolute top-[32px] w-full inline-block h-[4px] left-0  rounded-md transition-colors duration-300"></span>
          </li>
        </ul>
        <div class="border-t-2 relative top-4"></div>
        <div class="flex justify-between pt-4 items-center">
          <section class="slogan xl:w-[70%] w-full pl-2">
            <div class="flex items-center">
                <img class="inline-block object-fill" src="img/service.png" width="27" height="29"><span class="font-bold text-[#FF7300] text-[13pt]">企業使命(客訴政策)：專業、誠信、滿意</span>
                <img class="inline-block object-fill" src="img/mission.png" width="30" height="28"><span class="font-bold text-[#FF7300] text-[13pt]">服務承諾：1.用心傾聽，展現專業 2.保護個資，建立信賴 3.尊重顧客，貼心服務 4.積極處理，有效解決 5.營造雙贏，獲得滿意</span>
            </div>
          </section>
          <div class="searchBox   flex w-[25%] min-w-[350px] pr-3  justify-end space-x-2 min-h-[20px] pt-2 ml-8">
            <select id="mycategory" class="border-2 min-w-[190px] ">
              <option value="/TWM專區,/銷售專區,/EBG專區,/EBG-809專區,/EBG-直營諮詢,/申裝查核處,/行動網專區,/TWM專區/TWM專區/TWM專區-WEBAP/TWM專區-WEBAP-新手機資訊,/新創服務">全部</option>
              <option value="/TWM專區">【TWM專區】</option>
              <option value="/銷售專區">【銷售專區】</option>
              <option value="/EBG專區">【EBG專線-企業固網】</option>
              <option value="/EBG-809專區">【EBG專區-企業行動】</option>
              <option value="/EBG-直營諮詢">【EBG專區-直營諮詢】</option>
              <option value="/TWM專區/TWM專區/TWM專區-WEBAP/TWM專區-WEBAP-新手機資訊">【手機資訊】</option>
              <option value="/新創服務">【新創服務】</option>
            </select>
            <input id="SearchWord" type="text" value="" class="min-w-[150px] border-2 pl-2">
            <button id="SearchBtn" class="min-w-[80px] py-1 border-2 flex items-center justify-center">
              <img class="w-[20px]" src="./EBG/Promotion/NewHomePage/img/icons8-search.png" alt="">
              <span class=" ml-1">搜尋</span>
            </button>
          </div>
        </div>



      </div>
      <div class="ease-linear transition-transform duration-300 top-[110px] fixed right-0 w-[50px] h-[70px] bg-[#ff6700] px-2 pt-3  z-30 hover:translate-x-[-200px]">
        <span class="text-white font-bold">線上</span>
        <br>
        <span class="text-white font-bold">廣告</span>
        <aside class="space-y-2 w-[200px] py-4 bg-[#FFF] absolute left-full top-0 px-[5px]">
          <a href="/公佈欄/服務規劃處/教育訓練科/網頁/銷售榮譽榜.htm" target="_blank"
          class="card block w-full overflow-hidden rounded-[10px]">
            <img src="./EBG/Promotion/NewHomePage/img/card01.jpg" alt="">
          </a>
          <a href="/公佈欄/服務規劃處/教育訓練科/網頁/客服報報1/各期刊物/index_bookcase.html" target="_blank"
          class="card block w-full overflow-hidden rounded-[10px]">
            <img src="./EBG/Promotion/NewHomePage/img/card02.jpg" alt="">
          </a>
          <a href="http://twmmisl03/Massage/" target="_blank"
          class="card block w-full overflow-hidden rounded-[10px]">
            <img src="./EBG/Promotion/NewHomePage/img/card03.jpg" alt="">
          </a>
          <a href="https://twmhealthysvr.taiwanmobile.com/es-twm/index_twm.html" target="_blank"
          class="card block w-full overflow-hidden rounded-[10px]">
            <img src="./EBG/Promotion/NewHomePage/img/card04.jpg" alt="">
          </a>
        </aside>
      </div>
      <div class=" relative w-full">
        <!-- 首頁內容 -->
        <div class="index-cont mx-auto min-w-[1150px] relative top-[105px]" v-show="IndexPage === 'index'">
          <div class="sectionMenu flex">
            <div class="section w-[20%] bg-[#ff9b0b] ">
              <img class="sectionImg object-fill w-full" src="./EBG/Promotion/NewHomePage/img/h1.jpg" alt="">
              <h2 class=" font-bold mt-1  pl-2 py-1 text-center text-xl text-white border-b-[1px] border-[#fff]">專業知識區</h2>
              <ul class="px-4 pt-1 space-y-2">
                <li class="font-semibold hover:text-[#FFF] transition-colors  text-lg">‧<a href="/TCC/ttnt/twm_index.html">
                  TWM</a></li>
                <li class="font-semibold hover:text-[#FFF] transition-colors  text-lg">‧<a href="/ebg/new/index.html">
                  台灣大企業(EBG)</a></li>
                <li class="font-semibold hover:text-[#FFF] transition-colors  text-lg">‧<a href="/my_service/index.html" target="_blank">
                  新創服務</a></li>
                <li class="font-semibold hover:text-[#FFF] transition-colors  text-lg">‧<a href="http://kms.tstartel.com/SmartKMS/Home.action" target="_blank">
                  TST專區</a></li>
              </ul>
              <h3 class="mt-1 pl-4 font-bold text-lg">‧ 銷售專區</h3>
              <ul class="pl-[30px] py-2 flex items-center flex-wrap">
                <li class="font-semibold text-[0.9rem] hover:text-[#FFF] transition-colors "><a href="/TCC/sale/index2017.htm">
                  【OB / IB外撥小組 / UPSELL】</a></li>
                  <span class="inline-block mx-[0.1rem]">|</span>
                <li class="font-semibold text-[0.9rem] hover:text-[#FFF] transition-colors "><a href="/TCC/TM/index_tm.htm">
                  【 TM 】</a></li>
              </ul>              
            </div>
            <div class="section w-[20%] bg-[#ff6700] ">
              <img class="sectionImg object-fill w-full" src="./EBG/Promotion/NewHomePage/img/h2.jpg" alt="">
              <h2 class=" font-bold mt-1  pl-2 py-1 text-center text-xl text-white border-b-[1px] border-[#fff]">常用服務區</h2>
              <ul class="px-4 pt-1 space-y-2">
                <li class="font-semibold hover:text-[#FFF] transition-colors  text-lg">‧<a href="/公佈欄/服務規劃處/共同區/formulate/index01.htm" target="_blank" onClick="insert_log('Ccweb首頁','Ccweb首頁','最新班表')">
                  最新班表</a></li>
                <li class="font-semibold hover:text-[#FFF] transition-colors  text-lg">‧<a href="https://tcstm90.tcs.com.tw:9543/WFSWeb/login_form.aspx" target="_blank" onClick="insert_log('Ccweb首頁','Ccweb首頁','調代班系統')">
                  調班系統</a></li>
                <li class="font-semibold hover:text-[#FFF] transition-colors  text-lg">‧<a href="https://twm/" target="_blank">
                  TWM公用系統</a></li>
              </ul>
              <h3 class="mt-1 pl-4 font-bold text-lg">‧ 預選休</h3>
              <ul class="pl-[30px] py-2 flex items-center flex-wrap">
                <li class="font-semibold text-[0.9rem] hover:text-[#FFF] transition-colors "><a href="/公佈欄/服務規劃處/網站規劃暨語音管理科/homepage/預選休系統/新版預選休操作手冊.pptx">
                  【操作手冊】</a></li>
                  <span class="inline-block mx-[0.1rem]">|</span>
                <li class="font-semibold text-[0.9rem] hover:text-[#FFF] transition-colors "><a href="https://tcstm90.tcs.com.tw:9543/revrService/" target="_blank">
                  【台北】</a></li>
                  <span class="inline-block mx-[0.1rem]">|</span>
                <li class="font-semibold text-[0.9rem] hover:text-[#FFF] transition-colors "><a href="https://tcs2apbk07.tcs.com.tw:9543/revrService/">
                  【台中/高雄】</a></li>
              </ul>              
              <h3 class="mt-1 pl-4 font-bold text-lg">‧ 新版E化考試系統</h3>
              <ul class="pl-[30px] py-2 flex items-center flex-wrap">
                <li class="font-semibold text-[0.9rem] hover:text-[#FFF] transition-colors "><a href="http://172.19.1.112:8080/ttnt_exam" target="_blank">
                  【考試系統】</a></li>
                  <span class="inline-block mx-[0.1rem]">|</span>
                <li class="font-semibold text-[0.9rem] hover:text-[#FFF] transition-colors "><a href="/公佈欄/服務規劃處/品管科/Homepage/考試時程表/2024年考試時程表.xlsx">
                  【2024年度考試時程表】</a></li>
              </ul>              
            </div>
            <div class="section w-[20%] bg-[#3ab693] relative"  @mouseleave="handBulletinBoardsTitle(null,'clear')">
              <img class="sectionImg object-fill w-full" src="./EBG/Promotion/NewHomePage/img/h3.jpg" alt="">
              <h2 class=" font-bold mt-1  pl-2 py-1 text-center text-xl text-white border-b-[1px] border-[#fff]">各處公告欄</h2>
              <ul class="px-4 pt-1 space-y-2">
                <li class="font-semibold hover:text-[#FFF] transition-colors  text-lg">‧<a href="/ccweb-ap/TTNT_Contactor/default.aspx" target="_blank">
                  TTnT通訊錄</a></li>
                <li @mouseover="handBulletinBoardsTitle(null,'專線單位')" class="w-[120px] font-semibold hover:text-[#FFF] transition-colors  text-lg cursor-pointer">‧ 專線單位</li>
                <li @mouseover="handBulletinBoardsTitle(null,'後勤單位')" class="w-[120px] font-semibold hover:text-[#FFF] transition-colors  text-lg cursor-pointer">‧ 後勤單位</a></li>
                <li @mouseover="handBulletinBoardsTitle(null,'管理單位')" class="w-[120px] font-semibold hover:text-[#FFF] transition-colors  text-lg cursor-pointer">‧ 管理單位</a></li>
                </ul>  
                <div v-show="BulletinBoardsBool" @mouseleave="handBulletinBoardsTitle(null,'clear')">
                  <ul class="space-y-1 absolute left-[110px] top-[265px] bg-[#346b5b] rounded-md p-4 w-[155px]" v-if=" BulletinBoardsTitle === '專線單位'">
                    <li class="text-white font-bold text-[13pt] transition-colors duration-300 cursor-pointer hover:text-[#ff6700] ">
                      <a href="/公佈欄/台北專線服務處/homepage/專一處首頁/2018-台北專線/index.htm" target="_blank">
                        台北專線</a></li>
                    <li class="text-white font-bold text-[13pt] transition-colors duration-300 cursor-pointer hover:text-[#ff6700] ">
                      <a href="/公佈欄/台中專線服務處/188專區/HomePage/index2/index.html" target="_blank">
                        台中專線</a></li>
                    <li class="text-white font-bold text-[13pt] transition-colors duration-300 cursor-pointer hover:text-[#ff6700] ">
                      <a href="/TCC/00_millieyu/board/Kaohsiung/index.htm" target="_blank">
                        高雄專線</a></li>
                    <li class="text-white font-bold text-[13pt] transition-colors duration-300 cursor-pointer hover:text-[#ff6700] ">
                      <a href="/ccweb-ap/TTNT_Contactor/default.aspx?dept=AAT5000" target="_blank">
                        電話行銷</a></li>
                  </ul>
                  <ul class="space-y-1 absolute left-[110px] top-[280px] bg-[#346b5b] rounded-md p-4 w-[155px]" v-if=" BulletinBoardsTitle === '後勤單位'">
                    <li class="text-white font-bold text-[13pt] transition-colors duration-300 cursor-pointer hover:text-[#ff6700] ">
                      <a href="/公佈欄/申裝查核處/共同區/homepage/index.htm" target="_blank">
                        申裝查核處</a></li>
                    <li class="text-white font-bold text-[13pt] transition-colors duration-300 cursor-pointer hover:text-[#ff6700] ">
                      <a href="/公佈欄/服務規劃處/共同區/homepage/index.htm" target="_blank">
                        服務規劃處</a></li>
                    <li class="text-white font-bold text-[13pt] transition-colors duration-300 cursor-pointer hover:text-[#ff6700] ">
                      <a href="/公佈欄/專線服務支援處/共用區/homepage/index.htm" target="_blank">
                        專線服務支援處</a></li>
                  </ul>
                  <ul class="space-y-1 absolute left-[110px] top-[265px] bg-[#346b5b] rounded-md p-4 w-[155px]" v-if=" BulletinBoardsTitle === '管理單位'">
                    <li class="text-white font-bold text-[13pt] transition-colors duration-300 cursor-pointer hover:text-[#ff6700] ">
                      <a href="/TTnT/SU2/職福會/homepage/index.htm" target="_blank">
                    職福會</a></li>
                    <li class="text-white font-bold text-[13pt] transition-colors duration-300 cursor-pointer hover:text-[#ff6700] ">
                      <a href="/ccweb-ap/TTNT_Contactor/default.aspx?dept=AAK0000" target="_blank">
                    帳務處</a></li>
                    <li class="text-white font-bold text-[13pt] transition-colors duration-300 cursor-pointer hover:text-[#ff6700] ">
                      <a href="/TCC/00_millieyu/board/other/index_general.htm" target="_blank">
                    行政支援處</a></li>
                    <li class="text-white font-bold text-[13pt] transition-colors duration-300 cursor-pointer hover:text-[#ff6700] ">
                      <a href="/TCC/00_millieyu/board/other/index_hr.htm" target="_blank">
                    人力資源處</a></li>
                    <li class="text-white font-bold text-[13pt] transition-colors duration-300 cursor-pointer hover:text-[#ff6700] ">
                      <a href="/TCC/00_millieyu/board/other/index_sys.htm" target="_blank">
                    客服系統處</a></li>
                    <li class="text-white font-bold text-[13pt] transition-colors duration-300 cursor-pointer hover:text-[#ff6700] ">
                      <a href="/TCC/00_millieyu/board/other/index_safety.htm" target="_blank">
                    勞安室</a></li>
                  </ul>
                </div>
            </div>
            <div class="section w-[20%] bg-[#9985ff] ">
              <img class="sectionImg object-fill w-full" src="./EBG/Promotion/NewHomePage/img/h4.jpg" alt="">
              <h2 class=" font-bold mt-1  pl-2 py-1 text-center text-xl text-white border-b-[1px] border-[#fff]">應用服務網</h2>
              <ul class="px-4 pt-1 flex flex-wrap">
                <li 
                @click="handIndexPage(null, '我要找系統')"
                class="font-semibold mt-0 w-[50%] hover:text-[#FFF] transition-colors text-lg">‧<a onClick="insert_log('Ccweb首頁','Ccweb首頁','我要找系統')"  style="cursor:pointer;">
                  我要找系統</a></li>
                <li class="font-semibold mt-0 w-[50%] hover:text-[#FFF] transition-colors text-lg">‧<a href="TCC/00_millieyu/0827/index03-03-02.htm" target="_blank" onClick="insert_log('Ccweb首頁','Ccweb首頁','我要請假')">
                  我要請假</a></li>
                <li class="font-semibold mt-2 w-[50%] hover:text-[#FFF] transition-colors text-lg">‧<a href="/公佈欄/服務規劃處/品管科/Homepage/quality/new/index.html" target="_blank" onClick="insert_log('Ccweb首頁','Ccweb首頁','我的績效')">
                  我的績效</a></li>
                <li class="font-semibold mt-2 w-[50%] hover:text-[#FFF] transition-colors text-lg">‧<a href="/公佈欄/服務規劃處/教育訓練科/網頁/index.htm" target="_blank" onClick="insert_log('Ccweb首頁','Ccweb首頁','教育訓練')">
                  教育訓練</a></li>
				        <li class="font-semibold transition-colors  text-lg mt-2">‧ 我要報修</li>				   
              </ul>                             
				    <ul class="pl-[30px] py-2 flex items-center flex-wrap">
                <li class="font-semibold hover:text-[#FFF] transition-colors "><a href="https://twmmisl03/cis/Info.aspx" target="_blank"> 
                  【報修系統】</a></li>
                <li class="font-semibold hover:text-[#FFF] transition-colors "><a href="/ccweb-ap/GnlUHD_NET/GnlUhdNewsQuery.aspx" target="_blank">
                  【台北總務報修】</a></li>
              </ul>
              <ul class="px-4 pt-1 space-y-2">
                <li class="font-semibold transition-colors  text-lg">‧ 我要訂會議室</li> 
              </ul>
              <ul class="pl-[30px] py-2 flex items-center flex-wrap">
                <li class="font-semibold hover:text-[#FFF] transition-colors "><a href="https://tcstm90.tcs.com.tw:9443/meeting_Net/default.aspx?location=CBP-TTT" target="_blank">
                  【台北】</a></li>
                  <span class="inline-block mx-[0.1rem]">|</span>
                <li class="font-semibold hover:text-[#FFF] transition-colors "><a href="https://tcstm90.tcs.com.tw:9443/meeting_Net/default.aspx?location=CBC-TTT" target="_blank">
                  【台中】</a></li>
                  <span class="inline-block mx-[0.1rem]">|</span>
                <li class="font-semibold hover:text-[#FFF] transition-colors "><a href="https://tcstm90.tcs.com.tw:9443/meeting_Net/default.aspx?location=CBK-TTT" target="_blank">
                  【高雄】</a></li>
              </ul> 
            </div>
            <div class="section w-[20%] bg-[#f893bf] ">
              <img class="sectionImg object-fill w-full" src="./EBG/Promotion/NewHomePage/img/h5.jpg" alt="">
              <h2 class=" font-bold mt-1  pl-2 py-1 text-center text-xl text-white border-b-[1px] border-[#fff]">訊息傳達站</h2>
              <ul class="px-4 pt-1 flex flex-wrap">
                <li class="font-semibold mt-0 w-[50%] hover:text-[#FFF] transition-colors text-lg">‧<a href="/TCC/tcc_website/dpt/index_isms.htm">
                  資安專區</a></li>
                <li class="font-semibold mt-0 w-[50%] hover:text-[#FFF] transition-colors text-lg">‧<a href="/TCC/00_millieyu/20121009/" target="_blank">
                  SGS驗證專區</a></li>
                <li class="font-semibold mt-2 w-[50%] hover:text-[#FFF] transition-colors text-lg">‧<a href="/TCC/00_millieyu/0827/index03-04.htm">
                  交流分享區</a></li>
                <li class="font-semibold mt-2 w-[50%] hover:text-[#FFF] transition-colors text-lg">‧<a href="https://twm/OP/" target="_blank">
                  OP品牌專區</a></li>
                <li class="font-semibold mt-2 w-[50%] hover:text-[#FFF] transition-colors text-lg">‧<a href="/TCC/00_millieyu/0827/index03-05.htm">
                  TWM專區</a></li>
                <li class="font-semibold mt-2 w-[50%] hover:text-[#FFF] transition-colors text-lg">‧<a href="/公佈欄/各處長官mail發送名單/最新座位表/homepage/index.htm" target="_blank"> 
                  最新座位表</a></li>
                <li class="font-semibold mt-2 w-[50%] hover:text-[#FFF] transition-colors text-lg">‧<a href="/TCC/00_millieyu/20140106/" target="_blank">
                  徵才訊息</a></li>
				  <li class="font-semibold mt-2 w-[50%] hover:text-[#FFF] transition-colors text-lg"></li>
				  <li class="font-semibold mt-2 w-[50%] transition-colors text-lg">‧ 客服問問</li>
				  <ul class="pl-[30px] py-2 flex items-center flex-wrap">
                <li class="font-semibold hover:text-[#FFF] transition-colors"><a href="https://tcsms.tcs.com.tw/owa/?path=/mail/action/compose&amp;to=TTNTTalk@ttnt.com.tw&amp;subject=客服問問&body=請寫下您的想法與建議" target="_blank" onclick="insert_log('Ccweb首頁','Ccweb首頁','客服問問')">
                  【台北】</a></li>
                  <span class="inline-block mx-[0.1rem]">|</span>
                <li class="font-semibold hover:text-[#FFF] transition-colors"><a href="https://tcs2ms.tcs.com.tw/owa/?path=/mail/action/compose&amp;to=TTNTTalk@ttnt.com.tw&amp;subject=客服問問&body=請寫下您的想法與建議" target="_blank" onclick="insert_log('Ccweb首頁','Ccweb首頁','客服問問')">
                  【台中】</a></li>
                  <span class="inline-block mx-[0.1rem]">|</span>
                <li class="font-semibold hover:text-[#FFF] transition-colors"><a href="https://tcs3ms.tcs.com.tw/owa/?path=/mail/action/compose&amp;to=TTNTTalk@ttnt.com.tw&amp;subject=客服問問&body=請寫下您的想法與建議" target="_blank" onclick="insert_log('Ccweb首頁','Ccweb首頁','客服問問')">
                  【高雄】</a></li>
              </ul>  
              </ul>                  
            </div>
          </div>

          <main  class=" py-4 px-8   bg-[#eff2f7] flex flex-wrap">

            <article class="list w-[100%] flex flex-wrap  justify-between">
              <section class="w-[49.5%]">
                <h1 class=" flex items-center  relative">
                  <span class="inline-block rounded-[50%] w-[15px] h-[15px] bg-[#ff6700] mr-[15px]"></span>
                  <span class="text-2xl font-bold">TTNT即時訊息</span>
                  <div class="articleBtn border-2 flex items-center absolute right-0">
                    <a href="/TCC/00_millieyu/0827/index02_more.htm" target="_blank"  
                    class="duration-300 transition-colors  bg-white block w-[90px] h-[30px] pt-[4px] pl-[15px] text-[#888] text-[14px]">
                      看更多</a>
                    <svg class="duration-300 transition-colors  bg-white font-bold pt-[7px] w-[15px] h-[30px] text-gray-600  absolute right-3 "><path  d="m5.5 3 5 5-5 5" stroke="currentColor"  fill="none"></path></svg>
                  </div>
                </h1>
                <ul class="space-y-2 mt-4 pb-12">
				  <li class=" odd:bg-[#eff2f7] even:bg-[#FFFFFF] hover:text-[#ff6700] font-bold py-2 pl-4  text-[14px]">
                    <a onclick='javascript:questionnaire("n2GOl")'  style="cursor:pointer;">
                    <span class=" inline-block w-[70px] text-[#999] font-bold">113/01/22</span>
                    <span class="duration-300 transition-colors ml-2 cursor-pointer">【僅TST】2023年員工滿意度問卷調查</span>
                    </a>
                  </li>
                  <li class=" odd:bg-[#eff2f7] even:bg-[#FFFFFF] hover:text-[#ff6700] font-bold py-2 pl-4  text-[14px]">
                    <a href="/banner/%E5%81%A5%E7%AE%A1%E7%B3%BB%E7%B5%B1.htm" target="_blank">
                    <span class=" inline-block w-[70px] text-[#999] font-bold">112/12/06</span>
                    <span class="duration-300 transition-colors ml-2 cursor-pointer">提供專屬您的健康照護平台【健康管理系統】</span>
                    </a>
                  </li>
                  <li class=" odd:bg-[#eff2f7] even:bg-[#FFFFFF] hover:text-[#ff6700] font-bold py-2 pl-4  text-[14px]">
                    <a href="/banner/%E5%AE%A2%E6%9C%8DMV%20EDM.htm" target="_blank">
                    <span class=" inline-block w-[70px] text-[#999] font-bold">112/11/29</span>
                    <span class="duration-300 transition-colors ml-2 cursor-pointer">客服專屬MV【活力客服 用心服務】現正熱播中</span>
                    </a>
                  </li>
                  <li class=" odd:bg-[#eff2f7] even:bg-[#FFFFFF] hover:text-[#ff6700] font-bold py-2 pl-4  text-[14px]">
                    <a href="/公佈欄/服務規劃處/網站規劃暨語音管理科/homepage/工作智慧王提案/index_2023.htm" target="_blank">
                    <span class=" inline-block w-[70px] text-[#999] font-bold">112/10/05</span>
                    <span class="duration-300 transition-colors ml-2 cursor-pointer">2023年工作智慧王名單出爐囉!!</span>
                    </a>
                  </li>
                  <li class=" odd:bg-[#eff2f7] even:bg-[#FFFFFF] hover:text-[#ff6700] font-bold py-2 pl-4  text-[14px]">
                    <a href="/公佈欄/勞工安全衛生管理室/homepage/Document/COVID-19/20230427.html" target="_blank">
                    <span class=" inline-block w-[70px] text-[#999] font-bold">112/04/27</span>
                    <span class="duration-300 transition-colors ml-2 cursor-pointer">【勞安室公告】2023/5/1疫後健康新生活</span>
                    </a>
                  </li>
                </ul>
              </section>
              <section class="w-[49.5%] ml-[1%]">
                <h1 class=" flex items-center  relative">
                  <span class="inline-block rounded-[50%] w-[15px] h-[15px] bg-[#ff6700] mr-[15px]"></span>
                  <span class="text-2xl font-bold">TWM新聞中心</span>
                  <div class="articleBtn border-2 flex items-center absolute right-0">
                    <a href="https://corp.taiwanmobile.com/twmg/pressRelease/index.action" target="_blank"  
                    class="duration-300 transition-colors  bg-white block w-[90px] h-[30px] pt-[4px] pl-[15px] text-[#888] text-[14px]">
                      看更多</a>
                    <svg class="duration-300 transition-colors  bg-white font-bold pt-[7px] w-[15px] h-[30px] text-gray-600  absolute right-3 "><path  d="m5.5 3 5 5-5 5" stroke="currentColor"  fill="none"></path></svg>
                  </div>
                </h1>
                <ul class="space-y-2 mt-4">
                  <li class=" odd:bg-[#eff2f7] even:bg-[#FFFFFF] hover:text-[#ff6700] font-bold py-2 pl-4  text-[14px]">
                    <a target="_blank" href="https://corp.taiwanmobile.com/press-release/news/press_20240130_608187.html">
                    <span class=" inline-block w-[70px] text-[#999] font-bold">113/01/30</span>
                    <span class="duration-300 transition-colors ml-2 cursor-pointer"> 台灣大贊助《紅白》 總經理林之晨帶領體育選手郭婞淳、李智凱登場 勇敢追夢紀實片《無懼之路》首播 萬人齊唱《Never Give Up》應援選手前進奧運</span>
                    </a>
                  </li>
                  <li class=" odd:bg-[#eff2f7] even:bg-[#FFFFFF] hover:text-[#ff6700] font-bold py-2 pl-4  text-[14px]">
                    <a target="_blank" href="https://corp.taiwanmobile.com/press-release/news/press_20240126_258570.html">
                    <span class=" inline-block w-[70px] text-[#999] font-bold">113/01/26</span>
                    <span class="duration-300 transition-colors ml-2 cursor-pointer"> 春節宅家娛樂 辦台灣大指定機款搭「好速加掛」享5千元優惠</span>
                    </a>
                  </li>
                  <li class=" odd:bg-[#eff2f7] even:bg-[#FFFFFF] hover:text-[#ff6700] font-bold py-2 pl-4  text-[14px]">
                    <a target="_blank" href="https://corp.taiwanmobile.com/press-release/news/press_20240126_237498.html">
                    <span class=" inline-block w-[70px] text-[#999] font-bold">113/01/26</span>
                    <span class="duration-300 transition-colors ml-2 cursor-pointer"> 三星S24系列月底正式上市！台灣大預購用戶1月26日優先取貨</span>
                    </a>
                  </li>
                  <li class=" odd:bg-[#eff2f7] even:bg-[#FFFFFF] hover:text-[#ff6700] font-bold py-2 pl-4  text-[14px]">
                    <a target="_blank" href="https://corp.taiwanmobile.com/press-release/news/press_20240125_175969.html">
                    <span class=" inline-block w-[70px] text-[#999] font-bold">113/01/25</span>
                    <span class="duration-300 transition-colors ml-2 cursor-pointer"> 台灣大x Riot Games首度登台北國際電玩展</span>
                    </a>
                  </li>
                  <li class=" odd:bg-[#eff2f7] even:bg-[#FFFFFF] hover:text-[#ff6700] font-bold py-2 pl-4  text-[14px]">
                    <a target="_blank" href="https://corp.taiwanmobile.com/press-release/news/press_20240124_090414.html">
                    <span class=" inline-block w-[70px] text-[#999] font-bold">113/01/24</span>
                    <span class="duration-300 transition-colors ml-2 cursor-pointer"> 台灣大寬頻一站滿足飆網影音娛樂　大螢幕搖身居家影院 MyVideo上架《旺卡 搶先版》、月付99元訂閱HBO GO 暢看艾美獎作品</span>
                    </a>
                  </li>
                </ul>
              </section>


            </article>

          </main>

        </div>
        <!-- 我要找系統-->
        <div class="BulletinBoard min-w-[1150px] relative top-[150px] z-10 bg-[#eff2f7]  w-[80%]  mx-auto p-4 rounded-md" v-show=" IndexPage === '我要找系統'">
          <h1 class=" flex items-center  relative justify-center">
            <span class="inline-block rounded-[50%] w-[15px] h-[15px] bg-[#ff6700] mr-[15px]"></span>
            <span class="text-2xl font-bold">應用服務網 - 我要找系統</span>
           
          </h1>  
          <div @click="handIndexPage(null,'index')" 
          class="BulletinBoardBtn border-2 flex items-center absolute left-1/2 -translate-x-1/2 bottom-4 overflow-hidden rounded-md cursor-pointer">
            <a class="duration-300 transition-colors  bg-white block w-[90px] h-[40px] leading-[40px] pl-[20px] text-[#000] text-[14px] font-bold">
              返回</a>
            <svg class="duration-300 transition-colors  bg-white font-bold pt-[7px] w-[15px] h-[30px] text-gray-600  absolute right-3 "><path  d="m5.5 3 5 5-5 5" stroke="currentColor"  fill="none"></path></svg>
          </div>
          <div class="cont flex justify-between">
            <div class="multlist mt-2 flex flex-col w-[35%]  h-[700px] space-y-2">
              <div class="border-2 bg-white rounded-md h-[120px]">
                <h1 class="font-bold text-center text-lg py-1 bg-[#EEE]">預選休</h1>
                <ul class="p-2">
                  <li>
                    <a href="https://tcstm90.tcs.com.tw:9543/revrService/" target="_blank"
                    class="hover:text-[#ff6700] transition-colors duration-300" >
                      【台北】</a>
                    <a href="https://tcs2apbk07.tcs.com.tw:9543/revrService/" target="_blank"
                    class="hover:text-[#ff6700] transition-colors duration-300" >
                      【台中/高雄】</a>
                  </li>
                  <li>
                    <a href="https://ccmo.taiwanmobile.com/revrService/" target="_blank"
                    class="hover:text-[#ff6700] transition-colors duration-300" >
                      【My Day-WEB版】</a>
                    <span>(手機 / 家中電腦)</span>
                  </li>
                  <li class="hover:text-[#ff6700] transition-colors duration-300">
                    <a href="/公佈欄/服務規劃處/網站規劃暨語音管理科/homepage/預選休系統/新版預選休操作手冊.pptx" target="_blank"
                    class="hover:text-[#ff6700] transition-colors duration-300" >
                      【操作手冊】</a>
                    </li>
                </ul>
              </div>
              <div class="border-2 bg-white rounded-md h-[120px]">
                <h1 class="font-bold text-center text-lg py-1 bg-[#EEE]">預選特休系統</h1>
                <ul class="p-2">
                  <li>
                    <a href="https://tcstm90.tcs.com.tw:9543/LeavePlan/Home/Login" target="_blank"
                    class="hover:text-[#ff6700] transition-colors duration-300" >
                      【預選特休】</a>                    
                      <a href="https://tcs2apbk07.tcs.com.tw:9543/LeavePlan/Home/Login" target="_blank"
                      class="hover:text-[#ff6700] transition-colors duration-300" >
                        【備援網址】</a> 
                  </li>
                  <li>操作手冊-
                    <a href="/公佈欄/服務規劃處/網站規劃暨語音管理科/homepage/後勤特休系統/上線後教學手冊/預選特休_管理介面.pptx" target="_blank"
                    class="hover:text-[#ff6700] transition-colors duration-300" >
                      【管理職】</a> 
                      <a href="/公佈欄/服務規劃處/網站規劃暨語音管理科/homepage/後勤特休系統/上線後教學手冊/預選特休_同仁頁面.pptx" target="_blank"
                      class="hover:text-[#ff6700] transition-colors duration-300" >
                        【同仁】</a> 
                  </li>
                </ul>
              </div>
              <div class="border-2 bg-white rounded-md h-[120px]">
                <h1 class="font-bold text-center text-lg py-1 bg-[#EEE]">排位系統</h1>
                <ul class="p-2">
                  <li>
                    <a href="https://tcstm90.tcs.com.tw:9443/astweb/index.aspx" target="_blank"
                    class="hover:text-[#ff6700] transition-colors duration-300" >
                      【排位系統】</a> 
                  </li>
                  <li>
                    <a href="https://ccmo.taiwanmobile.com/WFSWeb/" target="_blank"
                    class="hover:text-[#ff6700] transition-colors duration-300" >
                      【My Day-WEB版】</a>
                    <span>(手機 / 家中電腦)</span>
                  </li>
                  <li>操作手冊-
                    <a href="/公佈欄/服務規劃處/網站規劃暨語音管理科/homepage/排位系統-系統管理者操作手冊.pptx" target="_blank"
                    class="hover:text-[#ff6700] transition-colors duration-300" >
                      【系統管理】</a>
                      <a href="/公佈欄/服務規劃處/網站規劃暨語音管理科/homepage/排位系統-管理職操作手冊.pptx" target="_blank"
                      class="hover:text-[#ff6700] transition-colors duration-300" >
                        【管理職】</a>
                    <a href="/公佈欄/服務規劃處/網站規劃暨語音管理科/homepage/排位系統-同仁版操作手冊.pptx" target="_blank"
                    class="hover:text-[#ff6700] transition-colors duration-300" >
                      【同仁】</a>
                    </li>
                </ul>
              </div>
              
                <div class="border-2 bg-white rounded-md h-[120px]">
                  <h1 class="font-bold text-center text-lg py-1 bg-[#EEE]">夜間安全回報系統</h1>
                  <ul class="p-2">
                    <li>
                      <a href="https://tcstm90.tcs.com.tw:9443/nsrWeb/index.aspx" target="_blank"
                      class="hover:text-[#ff6700] transition-colors duration-300" >
                        【夜間安全回報】</a>
                        <a href="https://tcs2apbk07.tcs.com.tw:9443/nsrWeb/index.aspx" target="_blank"
                        class="hover:text-[#ff6700] transition-colors duration-300" >
                          【備援網址】</a>
                      </li>
                      <li>
                        <a href="https://ccmo.taiwanmobile.com/WFSWeb/" target="_blank"
                        class="hover:text-[#ff6700] transition-colors duration-300" >
                          【My Day-WEB版】</a>
                        <span>(手機 / 家中電腦)</span>
                      </li>
                  </ul>
                </div>
                <div class="border-2 bg-white rounded-md h-[120px]">
                  <h1 class="font-bold text-center text-lg py-1 bg-[#EEE]">調班系統</h1>
                  <ul class="p-2">
                    <li>
                      <a href="https://tcstm90.tcs.com.tw:9543/WFSWeb/login_form.aspx" target="_blank"
                      class="hover:text-[#ff6700] transition-colors duration-300" >
                        【調班系統】</a>
                     </li>
                    <li>
                      <a href="https://ccmo.taiwanmobile.com/WFSWeb/" target="_blank"
                      class="hover:text-[#ff6700] transition-colors duration-300" >
                        【My Day-WEB版】</a>
                      <span>(手機 / 家中電腦)</span>
                    </li>
                  </ul>
                </div>

             
            </div>
            <div class="multlist mt-2 flex flex-col w-[35%] ml-[1%]  h-[700px] space-y-2">
              <div class="border-2 bg-white rounded-md h-[120px]">
                <h1 class="font-bold text-center text-lg py-1 bg-[#EEE]">大家來找碴-TWM</h1>
                <ul class="p-2">
                  <li>
                    <a href="/TCC/de_index.htm" target="_blank"
                    class="hover:text-[#ff6700] transition-colors duration-300" >
                      【大家來找碴】</a>
                  </li>
                  <li>
                    <a href="http://tcs2ccweb/TCC/de_index.htm" target="_blank"
                    class="hover:text-[#ff6700] transition-colors duration-300" >
                      【備援網址】</a>
                  </li>
                </ul>
              </div>
              <div class="border-2 bg-white rounded-md h-[120px]">
                <h1 class="font-bold text-center text-lg py-1 bg-[#EEE]">TWM內網建議平台</h1>
                <ul class="p-2">
                  <li>
                    <a href="/ccweb-ap/DEBUGWeb/Style/Block1.aspx?Block=10" target="_blank"
                    class="hover:text-[#ff6700] transition-colors duration-300" >
                    【台北】</a>                    
                    <a href="/ccweb-ap/DEBUGWeb/Style/Block1.aspx?Block=11" target="_blank"
                    class="hover:text-[#ff6700] transition-colors duration-300" >
                    【台中】</a>
                    <a href="/ccweb-ap/DEBUGWeb/Style/Block1.aspx?Block=12" target="_blank"
                    class="hover:text-[#ff6700] transition-colors duration-300" >
                    【高雄】</a>
                    </li>
                  <li>
                    <a href="/TCC/00_millieyu/0827/img/TWM內網建議平台-使用手冊.pptx" target="_blank"
                    class="hover:text-[#ff6700] transition-colors duration-300" >
                    【操作手冊】</a>  
                  </li>
                </ul>
              </div>
              <div class="border-2 bg-white rounded-md h-[120px]">
                <h1 class="font-bold text-center text-lg py-1 bg-[#EEE]">提案與系統排程查詢</h1>
                <ul class="p-2">
                  <li>
                    <a href="https://tcstm67.tcs.com.tw:9443/pi/" target="_blank"
                    class="hover:text-[#ff6700] transition-colors duration-300" >
                    【流程改善提案系統】</a>  
                  </li>
                  <li>
                    <a href="/公佈欄/服務規劃處/網站規劃暨語音管理科/CBG/流程改善提案系統操作手冊.pptx" target="_blank"
                    class="hover:text-[#ff6700] transition-colors duration-300" >
                    【操作手冊】</a>  
                  </li>
                </ul>
              </div>
              <div class="border-2 bg-white rounded-md h-[120px]">
                <h1 class="font-bold text-center text-lg py-1 bg-[#EEE]">系統排程表</h1>
                <ul class="p-2">
                  <li>
                    <a href="/公佈欄/服務規劃處/網站規劃暨語音管理科/CBG/系統建置排程表_彙整web.xlsx" target="_blank"
                    class="hover:text-[#ff6700] transition-colors duration-300" >
                    【CBG】</a>   
                    <a href="/公佈欄/服務規劃處/網站規劃暨語音管理科/EBG/系統建置排程表_彙整web.xlsx" target="_blank"
                    class="hover:text-[#ff6700] transition-colors duration-300" >
                    【EBG】</a>   
                    </li>
                </ul>
              </div>
            </div>
            <div class="singlelist mt-2 flex w-[25%] ml-[4%] min-w-[320px]  h-[600px]">
              <div class="border-2 bg-white rounded-md">
                <h1 class="font-bold text-center text-lg py-1 bg-[#EEE]">其他查詢</h1>
                <ul class="p-2 space-y-1">
                  <li>
                  <a href="https://tcstm67.tcs.com.tw:9443/rcweb/" target="_blank"
                  class="hover:text-[#ff6700] transition-colors duration-300" >
                  【線上點名】</a>  
                  </li>
                  <li>
                  <a href="https://tcstm67.tcs.com.tw:9402/" target="_blank"
                  class="hover:text-[#ff6700] transition-colors duration-300" >
                  【離機單】</a>  
                    </li>
                  <li>
                  <a href="https://tcstm90.tcs.com.tw:9443/NEA/login_form.aspx" target="_blank"
                  class="hover:text-[#ff6700] transition-colors duration-300" >
                  【績效考核系統】</a>  
                  </li>
                  <li>
                  <a href="https://edoc.pcdc.com.tw/speed30/Account/SSOLoginRequest" target="_blank"
                  class="hover:text-[#ff6700] transition-colors duration-300" >
                  【公文管理系統】</a>  
                   </li>
                  <li>
                  <a href="https://twm/InfoE/" target="_blank"
                  class="hover:text-[#ff6700] transition-colors duration-300" >
                  【資訊需求系統】</a>  
                  </li>
                  <li>
                  <a href="https://twm/EtrainV3/SSO.aspx" target="_blank"
                  class="hover:text-[#ff6700] transition-colors duration-300" >
                  【教育訓練】</a>  
                   </li>
                  <li>
                  <a href="/TCC/00_millieyu/0827/index02-main02-01.htm" target="_blank"
                  class="hover:text-[#ff6700] transition-colors duration-300" >
                  【Terminal Server-- 特殊軟體共享平台】</a>  
                   </li>
                  <li>
                  <a href="/TCC/00_millieyu/0827/index02-main02-06.htm" target="_blank"
                  class="hover:text-[#ff6700] transition-colors duration-300" >
                  【計數器報表】</a>  
                   </li>
                  <li>
                  <a href="http://twmmisl03/Massage/Info.aspx?MenuID=765" target="_blank"
                  class="hover:text-[#ff6700] transition-colors duration-300" >
                  【按摩登記系統】</a>  
                   </li>
                  <li>
                  <a href="https://tcs2ssoap.tcs.com.tw:9443/" target="_blank"
                  class="hover:text-[#ff6700] transition-colors duration-300" >
                  【帳號整合系統】</a>  
                  </li>
                  <li>
                  <a href="https://twm/Media/" target="_blank"
                  class="hover:text-[#ff6700] transition-colors duration-300" >
                  【TWM媒體剪報系統】</a>  
                  </li>
                  <li>
                  <a href="/ebg/Chrome_FAQ.html" target="_blank"
                  class="hover:text-[#ff6700] transition-colors duration-300" >
                  【預設Chrome瀏覽器FAQ】</a>  
                  </li>
                  <li>
                  <a href="https://webhr.taiwanmobile.com/" target="_blank"
                  class="hover:text-[#ff6700] transition-colors duration-300" >
                  【薪資查詢】</a>  
                   </li>
                  <li>
                  <a href="/ccweb-ap/tcc/DailyBriefing/index.aspx" target="_blank"
                  class="hover:text-[#ff6700] transition-colors duration-300" >
                  【新版值星簡報-管理介面】</a>  
                  </li>
                  <li>
                  <a href="/ccweb-ap/tcc/Proposal_CS/Index.aspx" target="_blank"
                  class="hover:text-[#ff6700] transition-colors duration-300" >
                  【會簽暨MEMO管理系統】</a>  
                  </li>
                  <li>
                  <a href="https://twmhealthysvr.taiwanmobile.com/es-twm/index_twm.html" target="_blank"
                  class="hover:text-[#ff6700] transition-colors duration-300" >
                  【健康管理系統】</a>  
                   </li>
                  <li>
                  <a href="/公佈欄/服務規劃處/網站規劃暨語音管理科/AI_KM" target="_blank"
                  class="hover:text-[#ff6700] transition-colors duration-300" >
                  【知識點總檔】</a>  
                  </li>
                  <li>
                    <a href="https://twm/OP/Downloads.html#content-3" target="_blank"
                    class="hover:text-[#ff6700] transition-colors duration-300" >
                    【TWM桌布】</a>  
                    </li> 
                    <li>
                      <a href="/公佈欄/系統處/html/systembak.html" target="_blank"
                      class="hover:text-[#ff6700] transition-colors duration-300" >
                      【系統備援網址】</a>  
                       </li>                                     
                </ul>
              </div>
            </div>

    
          </div>
        </div>
        

        <!-- 各單位組織圖 -->
        <div class="BulletinBoard min-w-[1150px] relative top-[250px] z-20 bg-[#eff2f7]  w-[80%] h-[380px] mx-auto p-4 rounded-md" v-show=" IndexPage === '各單位組織圖'">
          <h1 class=" flex items-center  relative justify-center">
            <span class="inline-block rounded-[50%] w-[15px] h-[15px] bg-[#ff6700] mr-[15px]"></span>
            <span class="text-2xl font-bold">各單位組織圖</span>
           
          </h1>  
          <div @click="handIndexPage(null,'index')" 
          class="BulletinBoardBtn border-2 flex items-center absolute left-1/2 -translate-x-1/2 bottom-4 overflow-hidden rounded-md cursor-pointer">
            <a class="duration-300 transition-colors  bg-white block w-[90px] h-[40px] leading-[40px] pl-[20px] text-[#000] text-[14px] font-bold">
              返回</a>
            <svg class="duration-300 transition-colors  bg-white font-bold pt-[7px] w-[15px] h-[30px] text-gray-600  absolute right-3 "><path  d="m5.5 3 5 5-5 5" stroke="currentColor"  fill="none"></path></svg>
          </div>
          <ul class="flex justify-center items-center h-[250px] flex-wrap">
            <div class="row space-y-4">
              <li class="duration-300 transition-colors hover:bg-[#ff6700] hover:text-white font-bold border-2 rounded-md bg-white min-w-[250px] text-center mx-4">
                <a class="block p-4"
                href="/TTnT/SU2/HR/index/台灣客服科技組織圖.doc" target="_blank">
                TTNT組織圖</a></li>
              <li class="duration-300 transition-colors hover:bg-[#ff6700] hover:text-white font-bold border-2 rounded-md bg-white min-w-[250px] text-center mx-4">
                <a class="block p-4"
                href="/公佈欄/各處長官mail發送名單/各單位組織圖/01_台北專線處_組織圖.xls" target="_blank">
                台北專線服務處</a></li>
              <li class="duration-300 transition-colors hover:bg-[#ff6700] hover:text-white font-bold border-2 rounded-md bg-white min-w-[250px] text-center mx-4">
                <a class="block p-4"
                href="/公佈欄/各處長官mail發送名單/各單位組織圖/02_台中專線處_組織圖.xls" target="_blank">
                台中專線服務處</a></li>
            </div>
            <div class="row space-y-4">
              <li class="duration-300 transition-colors hover:bg-[#ff6700] hover:text-white font-bold border-2 rounded-md bg-white min-w-[250px] text-center mx-4">
                <a class="block p-4"
                href="/公佈欄/各處長官mail發送名單/各單位組織圖/03_高雄專線處_組織圖.xlsx" target="_blank">
                高雄專線服務處</a></li>
              <li class="duration-300 transition-colors hover:bg-[#ff6700] hover:text-white font-bold border-2 rounded-md bg-white min-w-[250px] text-center mx-4">
                <a class="block p-4"
                href="/公佈欄/各處長官mail發送名單/各單位組織圖/05_電話行銷處_組織圖.xls" target="_blank">
                電話行銷處</a></li>
              <li class="duration-300 transition-colors hover:bg-[#ff6700] hover:text-white font-bold border-2 rounded-md bg-white min-w-[250px] text-center mx-4">
                <a class="block p-4"
                href="/公佈欄/各處長官mail發送名單/各單位組織圖/06_申裝查核處_組織圖.xls" target="_blank">
                申裝查核處</a></li>
            </div>
            <div class="row space-y-4">
              <li class="duration-300 transition-colors hover:bg-[#ff6700] hover:text-white font-bold border-2 rounded-md bg-white min-w-[250px] text-center mx-4">
                <a class="block p-4"
                href="/公佈欄/各處長官mail發送名單/各單位組織圖/10_專線服務支援處_組織圖.xlsx" target="_blank">
                專線服務支援處</a></li>
              <li class="duration-300 transition-colors hover:bg-[#ff6700] hover:text-white font-bold border-2 rounded-md bg-white min-w-[250px] text-center mx-4">
                <a class="block p-4"
                href="/公佈欄/各處長官mail發送名單/各單位組織圖/07_服務規劃處_組織圖.xls" target="_blank">
                服務規劃處</a></li>
              <li class="duration-300 transition-colors hover:bg-[#ff6700] hover:text-white font-bold border-2 rounded-md bg-white min-w-[250px] text-center mx-4">
                <a class="block p-4"
                href="/公佈欄/各處長官mail發送名單/各單位組織圖/11_帳務處_組織圖.xlsx" target="_blank">
                帳務處</a></li>
            </div>
          </ul>    
        </div>


        <!-- 首頁背景色塊高度 -->
        <div class="overflow-hidden flex flex-wrap   w-full absolute left-0 top-0 -z-10">
          <img class="absolute z-10  animation-org-1" src="./EBG/Promotion/NewHomePage/img/bg2.png" alt="">
          <img class="absolute z-10  animation-org-2" src="./EBG/Promotion/NewHomePage/img/bg3.png" alt="">
          <img class="absolute top-[-150px] left-[50px] z-10  animation-org-3" src="./EBG/Promotion/NewHomePage/img/bg1.png" alt="">
          <img class="absolute z-10 right-20 top-[20rem] animation-light-org-1" src="./EBG/Promotion/NewHomePage/img/bg1.png" alt="">

          <div class="bgBlock relative z-0 ogange bg-[#ff6700] w-3/5 "></div>
          <div class="bgBlock relative z-0 green bg-[#0eaa7d] w-2/5 "></div>
          <div class="relative z-0 ogange bg-[#ff6700] w-3/5 h-[587px]"></div>
          <div class="relative z-0 green bg-[#ff9b0b] w-2/5 h-[587px]"   ></div>
          <!-- <div class="relative z-20 blue bg-[#9985ff] w-3/5 h-[250px] overflow-hidden">
            <img class="absolute  top-[-200px] animation-blue-1" src="./EBG/Promotion/NewHomePage/img/bg3.png" alt="">
          </div>
          <div class="relative z-20 light-ogange bg-[#ff9b0b] w-2/5 h-[250px] "></div> -->
          <div class="footerBlock relative z-0 pink bg-[#f893bf] w-full"   ></div>
        </div>
      </div>



    
  </div>
  <script src="./EBG/Promotion/NewHomePage/js/vue.js"></script>
  <script src="./EBG/Promotion/NewHomePage/js/Usevue.js"></script>
  <script>
      // 搜尋功能
        const searchWordInput = document.querySelector('#SearchWord');
        const searchBtn = document.querySelector('#SearchBtn');
        const categorySelect = document.querySelector("#mycategory");
        let isSearchFocus = false;

        searchWordInput.addEventListener('focus', () => {
          isSearchFocus = true;
        });

        searchWordInput.addEventListener('blur', () => {
          isSearchFocus = false;
        });

        function submitSearch() {
          let keyword = searchWordInput.value.trim().replace(" ", "&");
          let searchCategory = categorySelect.value;
        
          if (keyword !== '') {
            const searchUrl = `http://172.19.1.22/tornado/result.aspx?keyword=${encodeURIComponent(keyword)}&searchCategory=${encodeURIComponent(searchCategory)}&action=1`;
            window.open(searchUrl);
          }
        }

        window.addEventListener("keydown", (e) => {
          if (e.keyCode === 13 && isSearchFocus) {
            submitSearch();
          }
        });

        searchBtn.addEventListener("click", () => {
          submitSearch();
        });

// 取得登入帳號 - 請勿編輯
 	var srToken1 = ""; //連線 SignalR Hub 前先取得 TokenCenter 認證的 Token
 	var IsUseAuth = $("#txtIsUseAuth").val();
 	var srToken1 = ""; //連線 SignalR Hub 前先取得 TokenCenter 認證的 Token
 	if (IsUseAuth == "Y") {
 	console.log('account=' + $("#txtapAccount").val() + ", passsword=" + $("#txtapPwd").val());
 	srToken1 = GetToken($("#txtapAccount").val(), $("#txtapPwd").val());
 	}
 	console.log('srToken1=' + srToken1);
 	var regSignalRNameTWM = "TTNT-CCWEB-Q"; //註冊一個聊天室的名稱
 	
 	var connection1 = $.hubConnection("http://localhost:6100");
 	
 	connection1.qs = { 'ClientApName': regSignalRNameTWM, 'CentralToken': srToken1, 'useAuth': IsUseAuth }; //ClientApName:幫Client AP 命名, CenterToken:要認證的Token
 	connection1.logging = true; //開啟 signalr console log(開啟在Browser可以監控紀錄)
 	
 	var myCon1Hub = connection1.createHubProxy('EtdHub');
 	
 	//定義讓 SignalR Hub 呼叫的方法﹐至少要定義一個方法
 	myCon1Hub.on('AlterMsg', function (message) {
 	console.log('由 Server 回傳的訊息：' + message);
 	$('#txtRece1').val(message);
 	});
 	
 	connection1.start().done(function () {
 	console.log("connected, transport = " + connection1.transport.name + ", connection ID=" + connection1.id);
 	//取得 PC 上 NT Account
 	myCon1Hub.invoke("GetNtAccount").done(function (rtnValue) {
 	console.log("取得登入NT Accont");
 	if (rtnValue.Code == "00") {
 	agent_id = rtnValue.Data;
 	console.log('agent_id' + agent_id);
 	} else {
 	console.log("rtnValue.Code=" + rtnValue.Code + ", rtnValue.Msg=" + rtnValue.Msg);
 	}
 	}).fail(function (e) {
 	console.log("call GetNtAccount() error." + e);
 	});
 	 
 	}).fail(function (er) {
 	console.log("signalr 連線失敗。" + er);
 	});
 	// 取得登入帳號 - 請勿編輯	
</script>
</body>
</html>
<script type="text/javascript" src="/ebg/js/questionnaire.js"></script>
<script type="text/javascript" src="/ccweb-ap/ebg/ajax_log.js"></script>